.content{
    width: 640px;
    height: 640px;
    margin: 100px auto;
    position: relative;
}
.btn{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.3);
    z-index: 2;
}
.btn button,.score .bg{
    background: none;
    border: none;
    background-size: 100% 100%;

    cursor: pointer;
    outline: none;

    position: absolute;
    left: 50%;
    top: 50%;
}
.startBtn button{
    width: 200px;
    height: 180px;
    background-image: url("img/startGame.png");
    margin-left: -100px;
    margin-top: -90px;
}
.startBtn{
}
.pauseBtn{
    display: none;
}
.score{
    display: none;
}
.pauseBtn button{
    width: 140px;
    height: 120px;
    background-image: url("img/start.png");
    margin-left: -70px;
    margin-top: -60px;
}
.score .bg{
    width: 427px;
    height: 240px;
    background-image: url("img/startP.png");
    margin-left: -213px;
    margin-top: -120px;
    position: absolute;
}
.score .bg button{
    width: 30px;
    height: 30px;
    background-image: url("img/closeBtn.png");
    margin-left: 20px;
    margin-top: -100px;
}
#snakeWrap{
    width: 600px;
    height: 600px;
    background: #225675;
	background: url("img/bg.png") no-repeat;
	background-size: cover;
    border: 20px solid #b4d022;
    position: relative;
}
.num{
    font-size: 30px;
    position: absolute;
    color: red;
    left: 45%;
    top: 48%;
    z-index: 2;
    transform: translate(-50%,-50%) rotate(-15deg);
}
#snakeWrap div{
    width: 20px;
    height: 20px;
    position: absolute;
}
.snakeHead{
    background-image: url("img/head.png");
    background-size: cover;
}
.snakeBody{
    background-image: url("img/body.png");
    background-size: cover;
}
.food{
    background-image: url("img/apple.png");
    background-size: cover;
}